@media screen and (min-device-width: 320px) and (max-width: 480px) {
    .primary {
        width: 150px;
        height: 40px;
    }
    .secondary {
        width: 150px;
        height: 50px;
    }
    .flex-nav { padding: 20px;}
}


@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .primary {
        width: 150px;
        height: 40px;
    }
    .secondary {
        width: 150px;
        height: 50px;
    }
    .flex-nav { padding: 20px;}
}