img {
    max-width: 100%;
    max-height: 100%;
}
a {
    color: #000;
    padding-right: 10px;
}
a:link {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: none;
    color: #000;
}
.noSelect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome and Opera */
}

/*** HOME PAGE ***/

.home-page {
    background-image: linear-gradient(rgba(141, 65, 65, 0.7), rgba(80, 38, 38, 0.7)),  url(../img/1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.logo {
    width: 7%;
    margin: 50px 0px 50px 50px;
}
.home-h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px #000;
    letter-spacing: 3px;
    padding-bottom: 50px;
}
.flex-nav {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px 0px;
}
.primary {
    letter-spacing: 1.5px;
    border: 1px solid #fff;
    width: 250px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    box-shadow: 2px 4px 6px #333;
    outline: none;
}
.secondary {
    letter-spacing: 1.5px;
    border: 1px solid #fff;
    color: #fff;
    width: 250px;
    height: 50px; 
    background-color: transparent;
    box-shadow: 2px 4px 6px #333;
    outline: none;
}
.primary:link,
.primary:visited,
.primary:focus,
.primary:hover,
.primary:active {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    transition: 0.3s;
    font-weight: bold;
    transform: translateY(-3px);
    box-shadow: none;
    outline: none;
}
.secondary:link,
.secondary:visited,
.secondary:focus,
.secondary:hover,
.secondary:active {
    border: 1px solid #f1ed43;
    background-color: transparent;
    color: #f1ed43;
    transition: 0.3s;
    font-weight: bold;
    transform: translateY(-3px);
    box-shadow: none;
    outline: none;
}


/*** THEATER ***/
.bckg-theater {
    background-color: #f4f4f4;
}
.theater-h1 {
    padding: 70px 0px;
    text-align: center;
}
.theater-h1:after {
    display: block;
    height: 2px;
    background-color: #000000;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
.box-shadow img {
    padding-top: 10px;
}
.box-shadow {
    box-shadow: 5px 5px 15px #000;
}
.icons-center {
    text-align: center;
}
.theater-p {
    text-align: justify;
    padding: 20px 5px;
}
.links:hover {
    padding: 1px;
    background-color: #d6d6d6;
    transition: 0.2s;
}
.fb {
    font-size: 30px;
}
.fb:hover,
.fb:active {
    color: #3b5998;
    transition: 0.2s;
}
.tw {
    font-size: 30px;
}
.tw:hover,
.tw:active {
    color: #1da1f298;
    transition: 0.2s;
}
.lknd {
    font-size: 30px;
}
.lknd:hover,
.lknd:active {
    color: #0077B5;
    transition: 0.2s;
}
.insta {
    font-size: 30px;
} 
.insta:hover,
.insta:active {
    color: #f77737;;
    transition: 0.2s;
}
.yt {
    font-size: 30px;
}
.yt:hover,
.yt:active {
    color: #c4302b;
    transition: 0.2s;
}
.pint {
    font-size: 30px;
}
.pint:hover,
.pint:active {
    color: #c8232c;
    transition: 0.2s;
}

/*** MUSEUM ***/

marquee {
    padding: 70px 0px 30px 0px;
}
#iframe-museum {
    width: 100%;
    height: 100%;
}

/*** CINEMA ***/

.banner1 {
    background-image: url(../img/bioskop/cineplex/123.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 70vh;
    margin: 70px 0px;
}
.banner1-h1 {
    text-align: center;
    color: #fff;
    padding-top: 100px;
    font-style: italic;
}
.banner1-h1:hover,
.banner1-h1:active {
    color: #ff0000;
    text-shadow: 1px 1px #fff;
    transition: 0.3s;
}
.banner1-h6 {
    text-align: center;
    color: #fff;
}
.movies1 {
    text-align: center;
    padding: 10px;
}
.movies1 p {
    padding-top: 10px;
}
blockquote {
    padding-top: 10px;
}

.banner2 {
    background-image: url(../img/bioskop/kombank/1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 70vh;
    margin: 70px 0px;
} 
.banner2-h1 {
    text-align: center;
    color: #fff;
    padding-top: 100px;
}
.banner2-h1:hover,
.banner2-h1:active {
    color: #ff92fb;
    text-shadow: 1px 1px #fff;
    transition: 0.3s;
}
.banner2-h6 {
    text-align: center;
    color: #fff;
}
.movies2 {
    text-align: center;
    padding: 10px;
}
.just {
    text-align: justify;
}
.iframe-movie {
    width: 50%;
    height: 100%;
}

.banner3 {
    background-image: url(../img/bioskop/roda/roda.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 70vh;
    opacity: 0.9;
    margin: 70px 0px;
}
.banner3-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
  }
  .movies3 {
    padding: 20px;
    text-align: center;
}

/*** FOOTER ***/

.footer {
    background-color: #f2f2f2;
    border-top: 1px solid rgb(165, 165, 165);
}
.footer-ul {
    list-style: none;
}
.footer-ul li {
    display: inline-block;
}
.footer-flex {
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer-flex p {
    padding-top: 20px;
}


/*** FORM ***/

.formwall {
    background-image: url(../img/forma1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}



/*** @KEYFRAMES ***/

/* logo animation */
@keyframes logo {
    0% {
        color: transparent;
        opacity: 0;
        transform: translateY(50px);
    }
   
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.logo {
    animation-name: logo;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
}
/* end */

/* h1 home animation */
@keyframes top {
    0% {
        color: transparent;
        opacity: 0;
        transform: translateY(-200px);
    }
   
    100% {
        color: white;
        opacity: 1;
        transform: translate(0);
    }
}
.home-h1 {
    animation-name: top;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}
/* end */

/* primary button animation */
@keyframes left {
    0% {
        color: transparent;
        opacity: 0;
        transform: translateX(-200px);
    }
   
    100% {
        color: white;
        opacity: 1;
        transform: translate(0);
    }
}
.primary {
    animation-name: left;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}
/* end */

/* secondary button aimation */
@keyframes right {
    0% {
        color: transparent;
        opacity: 0;
        transform: translateX(200px);
    }
   
    100% {
        color: white;
        opacity: 1;
        transform: translate(0);
    }
}
.secondary {
    animation-name: right;
    animation-duration: 2.5s;
    animation-delay: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
}
/* end */

/* jquery animation */
.js--wp1,
.js--wp2,
.js--wp3,
.js--wp4,
.js--wp5,
.js--wp6,
.js--wp7,
.js--wp8, 
.js--wp9, 
.js--wp10,
.js--wp11,
.js--wp12,
.js--wp13,
.js--wp14,
.js--wp15,
.js--wp16,
.js--wp17,
.js--wp18 {
    opacity: 0;
    animation-duration: 2.5s;
}
.js--wp1.animated,
.js--wp2.animated,
.js--wp3.animated,
.js--wp4.animated,
.js--wp5.animated,
.js--wp6.animated,
.js--wp7.animated,
.js--wp8.animated,
.js--wp9.animated,
.js--wp10.animated,
.js--wp11.animated,
.js--wp12.animated,
.js--wp13.animated,
.js--wp14.animated,
.js--wp15.animated,
.js--wp16.animated,
.js--wp17.animated,
.js--wp18.animated {
    opacity: 1;
}

/* sticky */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(#fff, rgb(197, 197, 197));
    box-shadow: 0 2px 8px #000;
    z-index: 2;
}
.sticky-nav {
    display: none;
}
.sticky .flex-nav {
    padding: 5px 0px;
}
.sticky .primary {
    border: 1px solid #000;
    width: 150px;
    height: 30px;
    background-color: transparent;
    color: #000;
    box-shadow: none;
}
.sticky .secondary {
    
    border: 1px solid #000;
    color: #000;
    width: 150px;
    height: 30px; 
    background-color: transparent;
    box-shadow: none;
}
