img {
    max-width: 100%;
    max-height: 100%;
}
a {
    color: #000;
    padding-right: 10px;
}
a:link {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: none;
    color: #000;
}

/*** home page ***/

.home-page {
    background-image: linear-gradient(rgba(141, 65, 65, 0.7), rgba(80, 38, 38, 0.7)), url(../img/1.1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.logo {
    width: 7%;
    margin: 50px 0px 50px 50px;
}
.home-h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px #000;
    letter-spacing: 3px;
    padding-bottom: 50px;
}
.flex-nav {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px 0px;
}
.primary {
    letter-spacing: 1.5px;
    border: 1px solid #fff;
    width: 250px;
    height: 70px;
    background-color: transparent;
    color: #fff;
}
.secondary {
    letter-spacing: 1.5px;
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    width: 250px;
    height: 70px; 
    background-color: transparent;
}
.primary:hover,
.primary:active {
    border: 2px solid #000;
    background-color: transparent;
    color: #000;
    transition: 0.3s;
}
.secondary:hover,
.secondary:active {
    border: 2px solid #f1ed43;
    background-color: transparent;
    color: #f1ed43;
    transition: 0.3s;
}

/*** theater ***/

.theater-h1 {
    padding: 70px 0px;
    text-align: center;
}
.theater-h1:after {
    display: block;
    height: 2px;
    background-color: #000000;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
.theater-p {
    text-align: justify;
    padding: 20px 5px;
}
.links:hover {
    border: 1px solid #000;
    padding: 1px;
    background-color: #f2f2f2;
    transition: 0.3s;
}
.fb {
    font-size: 30px;
}
.fb:hover,
.fb:active {
    color: #3b5998;
}
.tw {
    font-size: 30px;
}
.tw:hover,
.tw:active {
    color: #1da1f298;
}
.lknd {
    font-size: 30px;
}
.lknd:hover,
.lknd:active {
    color: #0077B5;
}
.insta {
    font-size: 30px;
} 
.insta:hover,
.insta:active {
    color: #f77737;;
}
.yt {
    font-size: 30px;
}
.yt:hover,
.yt:active {
    color: #c4302b;
}
.pint {
    font-size: 30px;
}
.pint:hover,
.pint:active {
    color: #c8232c;
}

/*** museum ***/

marquee {
    padding: 70px 0px 30px 0px;
}

/*** cinema ***/

.banner1 {
    background-image: url(../img/bioskop/cineplex/123.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 70vh;
    margin: 70px 0px;
}
.banner1-h1 {
    text-align: center;
    color: #fff;
    padding-top: 100px;
}
.banner1-h1:hover,
.banner1-h1:active {
    color: #ff0000;
    text-shadow: 1px 1px #fff;
    transition: 0.3s;
}
.banner1-h6 {
    text-align: center;
    color: #fff;
}
.movies {
    padding-top: 30px;
    text-align: center;
}
blockquote {
    text-align: center;
    padding-bottom: 50px;
}

.banner2 {
    background-image: url(../img/bioskop/kombank/1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 70vh;
    margin: 70px 0px;
} 
.banner2-h1 {
    text-align: center;
    color: #fff;
    padding-top: 100px;
}
.banner2-h1:hover,
.banner2-h1:active {
    color: #ff92fb;
    text-shadow: 1px 1px #fff;
    transition: 0.3s;
}
.banner2-h6 {
    text-align: center;
    color: #fff;
}
.kombank-flex {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 30px; 
}
.kombank-flex p {
    text-align: center;
}
.banner3 {
    background-image: url(../img/bioskop/roda/roda.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 70vh;
    opacity: 0.9;
    margin: 70px 0px;
}
.banner3-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
  }
.movies {
    padding: 30px 0px;
}





/*** footer ***/

.footer {
    background-color: #f2f2f2;
}
.list {
    list-style: none;
}
.list li {
    display: inline-block;
}
.footer-flex {
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer-flex p {
    padding-top: 20px;
}